<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div th:insert="~{fragments/title-card :: titleCardWithSubtitle('Seatflow', 'Effortless classroom seat assignment management')}"></div>

    <div class="columns is-centered">
        <div class="column is-8">
            <div class="notification is-primary" style="background-color: #00BCD4;">
                <p>This project is still under development. You can follow the progress on <a href="https://github.com/keiaa-75/seatflow" style="color: white; text-decoration: underline;">GitHub</a>.</p>
            </div>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h2 class="title is-4">Quick Actions</h2>
                <a href="/sections" class="button is-primary">Select Section</a>
            </div>
        </div>
    </div>
</th:block>
