<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="titleCard(title, showBackButton, backUrl)">
        <div class="page-header" th:classappend="${showBackButton} ? 'is-sticky' : ''">
            <div class="header-content">
                <a th:if="${showBackButton}" th:href="${backUrl ?: '#'}" class="back-arrow">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h1 class="title is-4" th:text="${title}">Page Title</h1>
            </div>
        </div>
    </div>
    
    <div th:fragment="titleCardWithSubtitle(title, subtitle, showBackButton, backUrl)">
        <div class="page-header" th:classappend="${showBackButton} ? 'is-sticky' : ''">
            <div class="header-content">
                <a th:if="${showBackButton}" th:href="${backUrl ?: '#'}" class="back-arrow">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <div>
                    <h1 class="title is-4" th:text="${title}">Page Title</h1>
                    <p class="subtitle is-6 mb-0" th:text="${subtitle}">Subtitle</p>
                </div>
            </div>
        </div>
    </div>
</div>