<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="columns is-centered mb-4">
        <div class="column is-8">
            <div class="title-card has-text-white p-5">
                <h1 class="title is-4 has-text-white">Select a section</h1>
            </div>
        </div>
    </div>

    <div class="columns is-centered mb-4">
        <div class="column is-8">
            <div class="box">
                <div class="field has-addons mb-4">
                    <div class="control is-expanded">
                        <input type="text" class="input" id="section-search" placeholder="Search sections...">
                    </div>
                    <div class="control">
                        <a class="button is-primary">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="tabs is-toggle is-fullwidth">
                    <ul>
                        <li th:class="${param.grade == null or param.grade[0] == 'all'} ? 'is-active'">
                            <a th:href="@{/sections(grade=all)}">All</a>
                        </li>
                        <li th:class="${param.grade != null and param.grade[0] == 'ELEVEN'} ? 'is-active'">
                            <a th:href="@{/sections(grade=ELEVEN)}">Grade 11</a>
                        </li>
                        <li th:class="${param.grade != null and param.grade[0] == 'TWELVE'} ? 'is-active'">
                            <a th:href="@{/sections(grade=TWELVE)}">Grade 12</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="sections-view">
        <th:block th:each="strandGroup : ${groupedSections}">
            <div class="columns is-centered mb-3">
                <div class="column is-8">
                    <details class="message is-primary">
                        <summary class="message-header p-3 clickable-row">
                            <span th:text="${strandGroup.displayName}">Strand Name</span>
                            <i class="fas fa-chevron-down"></i>
                        </summary>
                        <div class="message-body p-3">
                            <th:block th:if="${!strandGroup.hasSections}">
                                <div class="has-text-centered has-text-grey">No sections in this strand</div>
                            </th:block>
                            <th:block th:if="${strandGroup.hasSections}">
                                <th:block th:each="gradeEntry : ${strandGroup.sectionsByGrade}">
                                    <th:block th:if="${!#lists.isEmpty(gradeEntry.value)}">
                                        <div class="mb-3" th:data-grade="${gradeEntry.key}">
                                            <p class="is-size-7 has-text-weight-semibold mb-2" th:text="${gradeEntry.key.displayValue}">Grade</p>
                                                     <th:block th:each="structure : ${gradeEntry.value}">
                                                        <a class="box mb-2 is-block" th:href="@{/sections/{id}(id=${structure.id})}" data-spa-link>
                                                            <div class="is-flex is-justify-content-space-between is-align-items-center">
                                                                <span class="has-text-weight-medium" th:text="${structure.sectionName}">Section Name</span>
                                                                <span class="tag is-info is-light" th:text="${structure.gradeLevel.displayValue}">11</span>
                                                            </div>
                                                        </a>
                                                     </th:block>
                                        </div>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </div>
                    </details>
                </div>
            </div>
        </th:block>
    </div>

    <div id="sections-results" class="is-hidden">
        <div class="columns is-centered">
            <div class="column is-8">
                <div id="results-container"></div>
            </div>
        </div>
    </div>

    <a class="button is-primary add-fab" th:href="@{/sections/new}" data-spa-link>
        <i class="fas fa-plus"></i>
    </a>
</th:block>
