<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Edit Seating Chart')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/title-card :: titleCard(${mapping.name}, true, '/sections/' + ${sectionId} + '/class-mappings/list')}"/>
    <section class="section">
        <div class="container">
            <div th:insert="~{fragments/notifications :: notifications}"></div>
            
            <div class="columns is-centered mb-4">
                <div class="column is-10">
                    <div class="box">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Layout</p>
                                    <p class="title is-5" th:text="${layout != null ? layout.name : mapping.layoutId}">Normal</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div>
                                    <p class="heading">Students</p>
                                    <p class="title is-5"><span id="assigned-count">0</span> / <span th:text="${#lists.size(students)}">0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="columns is-centered mb-4">
                <div class="column is-10">
                    <div class="box">
                        <div th:if="${gridData != null}">
                            <div th:replace="~{fragments/seat-grid :: seat-grid(${gridData}, ${mapping})}"></div>
                        </div>
                        <div th:unless="${gridData != null}" class="has-text-centered">
                            <p class="is-size-5">Loading seat grid...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-centered mb-4">
                <div class="column is-10">
                    <div class="box">
                        <div class="field is-grouped is-justify-content-space-between">
                            <div class="control">
                                <button id="cancel-mapping-btn" class="button is-danger is-outlined">
                                    <i class="fas fa-times mr-2"></i>Cancel
                                </button>
                            </div>
                            <div class="control">
                                <a id="done-mapping-btn" th:href="@{/sections/{sectionId}/class-mappings/{mappingId}(sectionId=${sectionId}, mappingId=${mapping.id})}" class="button is-primary">
                                    <i class="fas fa-check mr-2"></i>Done
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <th:block th:insert="~{fragments/confirm-modal :: confirmModal('cancel-modal', 'Cancel Seating Chart?', 'This will permanently delete ' + ${mapping.name} + ' and discard all changes.', 'Discard', 'Keep Changes')}"/>
    
    <script th:inline="javascript">
        const sectionId = /*[[${sectionId}]]*/ null;
        const mappingId = /*[[${mapping.id}]]*/ null;
    </script>
    <script src="/js/class-mapping-edit.js"></script>
</body>
</html>
