<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Manage Seating Charts')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/title-card :: titleCard('Manage Seating Charts', true, '/sections/' + ${sectionId})}"/>
    <section class="section">
        <div class="container">
            <div th:insert="~{fragments/notifications :: notifications}"></div>
            
            <div class="content">
                <p class="subtitle" th:text="${section.gradeLevel.displayValue + ' - ' + section.sectionName}">11 - Pahimis</p>
            </div>
            
            <div id="mappings-container">
                <div class="columns is-multiline" id="mappings-list">
                    <!-- Mappings will be loaded here via JavaScript -->
                </div>
                
                <div id="empty-state" class="has-text-centered py-6" style="display: none;">
                    <div class="mb-4">
                        <i class="fas fa-chair fa-3x has-text-grey-light"></i>
                    </div>
                    <p class="title is-5 has-text-grey">No seating charts yet</p>
                    <p class="mb-4">Create your first seating chart to get started</p>
                    <a th:href="@{/sections/{sectionId}/class-mappings/new(sectionId=${sectionId})}" class="button is-primary">
                        <i class="fas fa-plus mr-2"></i>Create Seating Chart
                    </a>
                </div>
                
                <div id="loading-state" class="has-text-centered py-6">
                    <p class="is-size-5">Loading...</p>
                </div>
            </div>
        </div>
    </section>
    
    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h3 class="title is-4">Delete Seating Chart?</h3>
                <p>This will permanently delete <strong id="delete-mapping-name"></strong>.</p>
                <p class="help mt-2">This action cannot be undone.</p>
                <div class="field is-grouped mt-4">
                    <div class="control">
                        <button id="confirm-delete-btn" class="button is-danger">Delete</button>
                    </div>
                    <div class="control">
                        <button id="cancel-delete-btn" class="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    
    <script th:inline="javascript">
        const sectionId = /*[[${sectionId}]]*/ null;
        const mappingsData = [];
    </script>
    <script src="/js/class-mappings.js"></script>
</body>
</html>
