<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Manage Seating Charts')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/title-card :: titleCard('Manage Seating Charts', true, '/sections/' + ${sectionId})}"/>
    <section class="section">
        <div class="container">
            <div th:insert="~{fragments/notifications :: notifications}"></div>
            
            <div class="columns is-centered">
                <div class="column is-10">
                    <p class="subtitle has-text-centered" th:text="${section.gradeLevel.displayValue + ' - ' + section.sectionName}">11 - Pahimis</p>
                </div>
            </div>
            
            <div class="columns is-centered is-multiline">
                <div class="column is-10">
                    <th:block th:if="${#lists.isEmpty(mappings)}">
                        <div class="has-text-centered py-6">
                            <div class="mb-4">
                                <i class="fas fa-chair fa-3x has-text-grey-light"></i>
                            </div>
                            <p class="title is-5 has-text-grey">No seating charts yet</p>
                            <p class="mb-4">Create your first seating chart to get started</p>
                            <a th:href="@{/sections/{sectionId}/class-mappings/new(sectionId=${sectionId})}" class="button is-primary">
                                <i class="fas fa-plus mr-2"></i>Create Seating Chart
                            </a>
                        </div>
                    </th:block>
                    
                    <th:block th:unless="${#lists.isEmpty(mappings)}">
                        <div th:each="mapping : ${mappings}" class="mb-3">
                            <a th:href="@{/sections/{sectionId}/class-mappings/{id}(sectionId=${sectionId}, id=${mapping.id})}"
                               class="box is-clickable mapping-card">
                                <div class="level is-mobile mb-0">
                                    <div class="level-left">
                                        <h3 class="title is-5" th:text="${mapping.name}">Monday Seating</h3>
                                    </div>
                                    <div class="level-right">
                                        <span class="tag is-info is-light" th:text="${mapping.layoutId}">NORMAL</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="help" th:text="${#maps.size(mapping.assignments) + ' students'}">15 students</p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    
    <th:block th:insert="~{fragments/fab :: fab('/sections/' + ${sectionId} + '/class-mappings/new')}"></th:block>
</body>
</html>
