<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Seatflow - Home Page')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="title-card has-text-white p-5">
                        <h1 class="title is-2 has-text-white">Seatflow</h1>
                        <p class="subtitle is-5 has-text-white">Effortless classroom seat assignment management</p>
                    </div>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="notification is-primary" style="background-color: #00BCD4;">
                        <p>This project is still under development. You can follow the progress on <a href="https://github.com/keiaa-75/seatflow" style="color: white; text-decoration: underline;">GitHub</a>.</p>
                    </div>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="box">
                        <h2 class="title is-4">Quick Actions</h2>
                        <a href="/sections" class="button is-primary">Select Section</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
